/* В этом файле вы импортируете все шрифты для сайта. 
Один из них вариативный и требует особенной настройки */
@font-face {
    font-display: swap;
  font-family: 'Inter';
  src: local('Roboto-Flex-Variable'),
    url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('woff2 supports variations'),
  url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'PressStart2P';
    src: local('PressStart2P');
    url('../fonts/PressStart2P.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}