/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0;
  font-family: var(--font-family-base) sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  background-image: var(--grid-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.stretch-container {
  width: var(--page-width);
}

.header {
  padding: 100px 0;

}

.header__content {
  display: flex;
  height: 327px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: var(--border);
}



/* Заголовок страницы*/
.title {
  font-family: var(--font-family-heading), monospace;
  font-size: var(--font-size-h1-adaptive);
  color: var(--color-text);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/* Крупный элемент заголовка*/
.title-accent-size {
  display: inline-block;
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}



.main {
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: var(--color-background);
}


/*======================= CARD ==========================*/

.card {
  border: var(--border);
}

.card__header {
  margin: 4px 10px;
  font-family: var(--font-family-base), monospace;
  font-size: inherit;
  color: var(--color-text);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.card__label {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--font-family-heading), monospace;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.8;
  z-index: 10;
  -webkit-text-stroke: 1px var(--color-text-stroke, #fff);
}

@supports not (-webkit-text-stroke: 1px var(--color-text-stroke, #fff)) {
  .card__label {
    text-shadow:
      -2px -2px 0 var(--color-text-stroke, #fff),
      2px -2px 0 var(--color-text-stroke, #fff),
      -2px 2px 0 var(--color-text-stroke, #fff),
      2px 2px 0 var(--color-text-stroke, #fff);
  }
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  padding: var(--spacing-base);
  font-family: var(--font-family-base), sans-serif;
  line-height: 1.1667;
}

.card__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--spacing-base);
}

.decorated__text {
  font-family: var(--font-family-heading), monospace;
  font-size: var(--font-size-small);
  line-height: 0.9;
  mix-blend-mode: difference;
  z-index: 10;
  position: relative;
  color: var(--text-blend-color);
}

.card__like-button {
  position: relative;
  min-width: 122px;
  padding: 9px 17px;
  background-color: var(--color-secondary);
  border: var(--border);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card__like-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out;
  background-color: var(--color-accent);
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}



.main-footer__save-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  background-color: var(--color-secondary);
  border: var(--border);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.main-footer__save-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out;
  background-color: var(--color-accent);
}

.main-footer__save-button svg {
  mix-blend-mode: difference;
  z-index: 10;
}



/*======================= MODAL ==========================*/

.modal {
  padding: 0;
  width: clamp(341px, 90%, 353px);
}

.modal::backdrop {
  background-color: var(--color-backdrop, rgba(0, 0, 0, 0.7));
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

@media (width <=375px) {
  .modal__wrapper {
    padding: 30px 40px;
  }

  .main-footer__save-button {
    flex-direction: column;
  }
}


.modal__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal__text {
  line-height: 1.5;
}

.modal__button-close {
  position: relative;
  border: var(--border);
  background-color: var(--color-background);
  padding: 9px 17px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.modal__button-close::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out;
  background-color: var(--color-accent);
}



/*=============Footer=============*/

.page__footer {
  padding: 50px 0;
  background-color: var(--color-background);
}



/*=============Hover=============*/

.card__like-button:hover::after,
.main-footer__save-button:hover::after,
.modal__button-close:hover::after {
  left: 0;
}

.card__like-button:focus,
.main-footer__save-button:focus,
.modal__button-close:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}


.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
}


/*=============Heart=============*/
.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--core-heart-core);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-body);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}


/*active*/

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}


/*clicked*/


.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0s;
  animation: like-heart-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
  animation: like-heart-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
  animation: like-heart-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
}


/* =============Фильтры================*/

.image1 {
  filter: blur(5px);
  transform: scale(1.02);
}

.image2 {
  filter: brightness(900%) contrast(100%);
}

.image3 {
  filter: sepia(100%) saturate(110%);
}

.image4 {
  filter: saturate(250%);
}

.image5 {
  filter: hue-rotate(90deg);
}

.image6 {
  filter: blur(1px);
}

.image7 {
  filter: grayscale(100%);
}
